<div class="jumbotron text-center">
  <h1>Get Things Done</h1>
  <small>Make it happen, captain!</small>
  <p>Do All the Things!</p>
  <p><%= link_to "Sign Up!", signup_url, class:"btn btn-primary btn-lg" %>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p class="col-xs-12 col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu est imperdiet, efficitur ante ac, pellentesque nulla. Nam tempor nisl massa, non condimentum sem lacinia sed. Integer facilisis ligula augue, at scelerisque ligula accumsan sit amet. Quisque vehicula, lacus in maximus dictum, lectus sem sagittis nisi, a tincidunt urna orci vitae leo. Nulla facilisi. Aenean ante est, lacinia at molestie nec, pharetra quis lectus. Aliquam egestas diam eget lacus pulvinar imperdiet. Etiam faucibus turpis vel enim dictum, vitae consequat lectus euismod.</p>
    <p class="col-xs-12 col-md-6">Aliquam nec ex ac urna convallis laoreet. Aenean ante est, lacinia at molestie nec, pharetra quis lectus. Nam at dui maximus, molestie odio vitae, sodales orci. Nam tempor nisl massa, non condimentum sem lacinia sed. Aliquam eu nisi accumsan, iaculis lorem et, lacinia nisi. Integer vitae est sapien. Fusce cursus sed dui non mollis. Nam sodales molestie arcu posuere tempor. Cras aliquam tellus ut nunc aliquam tincidunt. In sit amet turpis vel quam tempor tincidunt. Mauris sed est ut eros vehicula volutpat vitae at odio. Donec at nunc felis.</p>
  </div>
</div>
