// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-title{
  h4{
    display: inline;
  }
  .completed-true{
    color: #5cb85c;
  }
  .completed-false{
    color: #aaa;
  }
}

.due-at{
  display: inline;
}
